html {
    display: inline-block;
    display: flex;
    align-content: center;
    width:500px; 
    length:auto;
    background-color: #aad4cf;
}

body {
    background-color: #c1e0dd;
    margin: 0px;
}

header {
    display: inline-block;
    position: relative; 
    text-align: center;
    color: white;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 33%;
    text-align: center;
    font-size: 24px;
}
.navbar li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: flex;
    text-align: center;
}

.navbar a:hover {
    background-color: #aad4cf;
}

.navbar li a{
    display: inline;
    
}

.section1{
    display: inline-block;
}

.starfish { 
    float: left;
    width: 300px;
    padding: 10px;
}

.form{
border:1px rgb(86, 86, 86) solid;
margin: 5px;
padding: 10px;
}


.button {
    margin-left: 0;
    margin-top: 20px;
    background: transparent;
    padding: 6px;
}

