html {
    display: flex;
    background-color: #aad4cf;
    width:600px; 
    height:auto;  
}

body {
    background-color: #c1e0dd;
    margin: 0px;
}

header {
    display: inline-block;
    position: relative; 
    text-align: center;
    color: white;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.navbar ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    text-align: center;
    font-size: 24px;
}
.navbar li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: flex;
    text-align: center;
}

.navbar a:hover {
    background-color: #aad4cf;
}

.navbar li a{
    display: inline;
    
}

.section1{
    display: inline-block;
}

.starfish { 
    float: left;
    width: 300px;
    padding: 0px 20px 20px 10px;
}

.form{
border:1px rgb(86, 86, 86) solid;
margin: 5px;
padding: 10px;
}


.button {
    margin-left: 0;
    margin-top: 20px;
    background: transparent;
    padding: 6px;
}

.section1 {
    display: block;
    font-size: 20px;
    width: 100%;
}

.facts ul{
   padding-left:22px;
}

.facts{
    display:flex;
    flex-direction: column;
}

.facts h3 {
    
}