body {
font-family: Tahoma, Verdana;
font-size: 18px;
}    

header, footer {
    background-color: #a4faa8;
}

.site-title {
    color: #275129;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobby-list {
    list-style: square;
}

li:nth-child(odd) {
    background-color:#a4faa8;
}

a:link {
    text-decoration: none;
}

#navbar li {
    list-style-type: none;
    background-color: transparent;
}
#navbar li {
    list-style-type: none;
    
}

#navbar a {
    color: #ffffff;
    background-color: #75a776;
    border-style: solid;
    border-color: #275129;
}

#navbar a:hover {
    background-color: #275129;
}