body {
font-family: Tahoma, Verdana;
font-size: 18px;
}    

header, footer {
    background-color: rgb(220, 175, 241);
}

.site-title {
    color: rgb(67, 20, 122);
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobby-list {
    list-style: square;
}

.hobby-list:nth-child(odd) {
    background-color: rgb(250, 225, 200);
}


