/* @media screen and (max-width: 600px) {
    .navbar{
        background-color: blue:
    }
} */

.container {
    background-color: #222;
}

.logo-container {
    background-color: #c78c06;
    height: 200px;
    border: solid #222 15px;
    border-bottom: 0;
}

.logo {
   display: flex; 
   justify-content: left;
}

.container li {
    color: #c78c06;
    display: flex;
    justify-content: center;
    padding-top: 30px; 
    font-size: 20px;
    margin
}

.container ul :first-child {
    border-top: 0;
    color: #222;
    background-color: #c78c06;
}


ul{
    margin-top: 0;
}