/* #c78c06, #ffe6ac, #222 and white */
html {
	font-family: 'open sans';
    
}
.container {
    background-color: #222;
    margin: 0;
    }
    
    
.logo-container {
    background-color: #c78c06;
    height: 12.5rem;
    border: solid #222 1rem;
    border-bottom: 0;
    }
        
.logo {
    display: flex; 
    justify-content: left;
    }
    
.container li {
    color: #c78c06;
    display: flex;
    justify-content: center;
    padding-top: 1.875rem; 
    font-size: 1.25rem;
    }
    
.container ul :first-child {
    border-top: 0;
    color: #222;
    background-color: #c78c06;
}
.searchbar{
    padding: 0 1rem;
    padding-bottom: 0.75rem;
}
.searchtext {
    width: 100%;
    padding: 0.25rem;
}

.fa-search {
    color: #c78c06;
}

button {
background-color: #222;
border: #c78c06 1px solid;
}

ul{
    margin-top: 0;
    padding: 0 0.9375rem;
}

/* search bar */

.searchbox {
    display: flex;
    justify-self: center;
    width: 100%;
}

.search-button {
    color: #222;
}



.main-banner-container {
    position: relative;
    width: 100%;
  }


.welcome {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  height: ;
  margin-top: 10rem;
  background-color: #222222c2;
}

.main-banner {
    display: block;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0px;
}

.ybutton {
    background-color:#c78c06;
    width: 200px;
    height: 65px;
    text-align: right;
    padding-top: 22px;
    color: black;
    text-decoration: none; display: flex;
    align-items: center;         
    justify-content: space-between; 
    padding: 0 10px;      
}

/* header container */

.main{
    position: relative;
    width: 100%;
    margin: ;
  
}

h1 {
    font-size: 3rem; 
}

.section-about{
    display: wrap;
    background-color: #ffe6ac;
    padding-top: 1rem;
    width:;
    flex-wrap: wrap;
}


/* section about us */
.banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin-right: 1rem;
}

.about {
    padding: 1rem;
}
.services {
    display: grid;
    width: 100%;
    background-color: #ffe6ac;
    padding: 0rem 1rem 1rem 1rem;
    margin-top: 1rem;
    
}

.services h3 {
    font-size: 2rem;
    
}

.service-img {
    width: 100%;
    overflow: hidden;
    margin-left: 0px;

}

.mbutton {
    background-color: #222;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 22px;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight:200;

}

