/* #c78c06, #ffe6ac, #222 and white */
.container {
    background-color: #222;
    margin: 0;
    }
    
    
.logo-container {
    background-color: #c78c06;
    height: 12.5rem;
    border: solid #222 1rem;
    border-bottom: 0;
    }
        
.logo {
    display: flex; 
    justify-content: left;
    }
    
.container li {
    color: #c78c06;
    display: flex;
    justify-content: center;
    padding-top: 1.875rem; 
    font-size: 1.25rem;
    }
    
.container ul :first-child {
    border-top: 0;
    color: #222;
    background-color: #c78c06;
}


ul{
    margin-top: 0;
    padding: 0 0.9375rem;
}









